#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#scorepad-container{
    display: flex;
    border: 1px solid black;
    height: 500px;
    justify-content: center;
    
}

#name-row-container,#remaning-score-row-container,#subtract-row-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    
    
}

#name-row-container, #remaning-score-row-container{
    border-right: 1px solid black;
}


