*{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.image{
    padding-top: 20px;
}
#name-container{
    padding-top: 40px;
    padding-bottom: 40px;
    
}

#scorepad-container{
    display: flex;
    border: 1px solid black;
    height: 500px;
   
    
}

#name-row-container,#remaning-score-row-container,#subtract-row-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
  
    
    
}

#name-row-container{
    flex-wrap: wrap;
    /* width: 100px; */
    display: flex;
    align-items: start;
}

#name-row-container, #remaning-score-row-container{
    border-right: 1px solid black;
}

.title, .nameTitle{
    padding: 10px;
    border-bottom: 1px solid black;
}

.nameTitle{
    align-self: stretch;
}

.name{
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
}