#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#scorepad-container{
    display: flex;
    gap: 50px;
}

#name-row-container,#remaning-score-row-container,#subtract-row-container{
    display: flex;
    flex-direction: column;
    gap:20px
}


